{# empty Twig template #}
{% extends "JazzywebAulasMentorAlimentosBundle::layout.html.twig"%}
{% block contenido %}
    <form name="formBusqueda" action="{{ path('JAMAB_buscarCombinada') }}" method="POST">
    <h2>Búsqueda combinada</h2>
    <table>

        <tr>
            <td>Nombre del alimento:</td>
            <td>
                 <input type="text" name="nombre" value="{{ nombre }}">
                (puedes utilizar '%' como comodín)
            </td>
        </tr>
        <tr>
            <td>Energía  alimento:</td>
            <td>
                <select name="operador">
                    <option value=">=" selected="selected">Mayor o igual</option>
                    <option value="=">Igual</option>
                    <option value="<=">Menor o igual</option>
                </select>

                <input type="text" name="energia" value="{{ energia }}">            
            </td>
        </tr>   
        </tr>  
        <td colspan="2" style="text-align: right;"> <input type="submit" value="buscar"> </td>
        </tr>
    </table>
    </form>
{% if resultado %}
    {% include 'JazzywebAulasMentorAlimentosBundle:Default:_tablaAlimentos.html.twig' with{'alimentos':resultado } %}
{% endif %}

{% endblock %}